<div class="wrapper">
  <div class="cards">
    <div *ngFor="let product of products">
            <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title>{{product.productItem}}</mat-card-title>
                    </mat-card-header>
                    <img class="picture" mat-card-image src={{product.image}} alt={{product.productItem}}>
                    <mat-card-content>
                      <p>
                        {{product.description}}
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <div class="order-button">
                        <button mat-button>ORDER</button>
                      </div>
                    </mat-card-actions>
            </mat-card>
    </div>
  </div>
</div>
